$maincolor:#1f4d66;
$header-textcolor:#80909f;
$header-activetextcolor:#9ac8e0;
$black-textcolor:#1b1b1b;
$grey-textcolor:#676767;
$min-textsize:0.5rem;
$small-textsize:0.6rem;
$normal-textsize:0.7rem;
$large-textsize:0.8rem;
$light-color:#4488ad;