#header {
    position: absolute !important;
    height: 2.8rem;
    padding-top: 0.9rem;
//  padding-left: 0.8rem;
    padding-right: 0.8rem;
    background: $maincolor;
    .mui-action-back {
        font-size: 1.2rem;
        padding-top: 0.3rem;
        padding-bottom: 0.5rem;
        color: $header-activetextcolor;
        span {
            float: right;
            display: inline-block;
            height: 1.2rem;
            line-height: 1.2rem;
            font-size: 0.7rem;
        }
    }
    .mui-title {
        color: #fff;
        line-height: 1.9rem;
        font-size: 0.7rem;
    }
    .right {
        float: right;
        margin-top: 0.4rem;
        padding: 0.5rem;
        font-size: 1.2rem;
        position: relative;
        z-index: 20;
    }
    .right.text {
        margin: 0;
        display: inline-block;
        padding-top: 0.3rem;
        padding-bottom: 0.5rem;
        box-sizing: content-box;
        overflow: hidden;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: 0.7rem;
        color: $header-activetextcolor;
    }
}

.mui-table-view {
    margin-bottom: 0.6rem;
    .mui-table-view-cell {
        padding: 0.6rem 0.8rem;
        height: 2.2rem;
        img {
            position: absolute;
            top: 50%;
            left: 0.8rem;
            margin-top: -0.75rem;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 0.2rem;
            background: #ddd;
        }
        .headimg {
           position: absolute;
            top: 50%;
            left: 0.8rem;
            margin-top: -0.75rem;
            height: 1.5rem;
            line-height: 1.5rem;
            width: 1.5rem;
            text-align: center;
            font-size: $min-textsize;
            background: #F27847;
            color: #fff;
            border-radius: 0.1rem;
        }
        .left {
            display: inline-block;
            margin-left: 1.9rem;
            height: 1.1rem;
            line-height: 1.1rem;
            float: left;
            font-size: $normal-textsize;
            color: $black-textcolor;
        }
        .right {
            float: right;
            margin-right: 1.2rem;
            line-height: 1.1rem;
            font-size: $small-textsize;
            color: $grey-textcolor;
        }
        .mui-navigate-right {
            position: relative;
            margin: -0.6rem -0.8rem;
            height: 2.2rem;
            font-size: $normal-textsize;
            &:after {
                font-size: 1.2rem;
            }
        }
        &:after {
            left: 0;
        }
    }
}